@import "tailwindcss";

html, body {
  font-family: Lexend, "UD Digi Kyokasho NK-R", sans-serif;
  height: 100%;
  margin: 0;
}

.leaflet-tile {
  /* Safari */
  image-rendering: -webkit-optimize-contrast;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chrome/Edge/Standard */
  image-rendering: pixelated;
}

/* Dark Mode Popup */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #1a1a1a;
  color: #ffffff;
}

.leaflet-popup-content {
  font-family: Lexend, "UD Digi Kyokasho NK-R", sans-serif;
  color: #ffffff;
}

.dr-shadow {
  font-family: 'UD Digi Kyokasho NK-R', 'Determination Mono', monospace;
  text-shadow: 1px 1px 0 #0F0F71;
}

.color-square {
  display: inline-block;
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
  margin: 0 6px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  vertical-align: middle;
}

.popup-row {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.mapmode-button {
  cursor: pointer;
  background-color: #2D005A;
  border: 2px solid #816B53;
  flex-shrink: 0;
}

.mapmode-button:hover, .mapmode-button.active {
  border: 2px solid #BAA38B;
}

.mmb-outline {
  margin: 1px;
  padding: 1px;
  border: 2px dashed #816B53;
}

.mmb-outline:hover, .mapmode-button.active .mmb-outline {
  border: 2px dashed #BAA38B;
}

.mmb-outline img {
  background-color: #816B53;
}

.mmb-outline:hover img, .mapmode-button.active .mmb-outline img {
  background-color: #BAA38B;
}

/* Nation Panel Styles */
.nation-panel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: #0E1119;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  color: white;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  font-family: Lexend, "UD Digi Kyokasho NK-R", sans-serif;
}

#nation-panel-content {
  padding: 20px;
}

.nation-panel .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  color: #818181;
  text-decoration: none;
  transition: 0.3s;
}

.nation-panel .closebtn:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .nation-panel {padding-top: 15px;}
  .nation-panel .closebtn {
    font-size: 20px;
    top: 15px;
    right: 35px;
  }
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .nation-panel.open {
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  .nation-panel.open {
    width: 350px;
  }
}

.nation-panel-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

.nation-panel-stat {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.nation-link {
  cursor: pointer;
  border-bottom: 1px dotted;
}

.nation-link:hover {
  color: #ccc;
}
